th,
td {
  border: 1px solid;
  border-collapse: collapse;
}
td {
  border-color: #646868;
}
th {
  background-color: black;
  border-color: #646868;
  color: white;
}
tr:nth-child(even) {
  background-color: #e5eaea;
}
.tablediv {
  margin: 10;
  border-radius: 20px;
  background-color: #d8dddd;
  align-items: center;
  text-align: center;
}
table {
  border: 1px solid;
  border-collapse: collapse;
  border-style: solid;
}
.tdStatus {
  background-color: white;
}
.totalCount {
  display: inline-flex;
  color: tomato;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
  width: 300px;
  margin-right: 30px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

  height: 30px;
}

.chartHover {
  text-align: center;
}
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

ul {
  background: #ffe5e5;
  padding: 20px;
  width: 350px;
}
ul li {
  color: darkred;
  padding: 5px;
  margin-left: 35px;
  width: 300px;
}
.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.connected {
  display: inline-flex;
  color: tomato;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-top: 100;
}

.connected:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.connected:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.connected:hover:after {
  opacity: 1;
  right: 10px;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
